.adicionar_produto {
    background-color: #E5E5E5;
    padding: 100px 450px 100px 450px;
}

.input_menuAdministrador {
    border-radius: 4px;
    background-color: #FFFFFF;
    border-style: none;
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    box-shadow: 0px 3px 15px -5px #464646;

    font-size: 12px;
}

.adicionar_titulo {
    color: #464646;
    font-size: 32px;
    font-weight: 700;
}

.botao_adicionarProduto {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2A7AE4;
    border-style: none;
    box-sizing: content-box;

    width: 100%;
    padding: 16px;
}

.botao_adicionarProduto:hover {
    background-color: #5595E9;
    cursor: pointer;
}

/*----------------------Responsivo-------------------------*/

@media screen and (max-width: 480px){
    .adicionar_produto {
        padding: 20px 20px;
    }    

    .input_menuAdministrador {
        width: 90%;
    }

    .botao_adicionarProduto {
        width: 90%;
    }
    
}