.cabecalho_container{
    padding: 32px 152px 32px 152px;    
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_lupa {
    padding-right: 8px;
    position: relative;
    right: 10%;
}

.cabecalho_barra {
    background-color: #F5F5F5;
    border-radius: 20px;
    border-style: none;

    font-size: 14px;
    height: 40px;
    padding: 8px 16px;
    width: 393px;
}



.cabecalho_botao {
    background-color: transparent;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;

    font-size: 16px;
    padding: 15px 60px 15px 60px;
}

.cabecalho_botao:hover{
    background-color: #D4E4FA;
    cursor: pointer;
}

/*-------------------Responsivo----------------------*/

@media screen and (max-width: 480px){
    .cabecalho_container{
        padding: 10px 20px 10px 20px;
    }

    .Cabecalho_logoAlura{
        width: 120px;
    }

    .cabecalho_pesquisa {
       order: 2;
    }

    .cabecalho_botao {
        order: 1;
        padding: 12px 40px 12px 40px;
    }

    .cabecalho_barra {
        visibility: hidden;
        width: 0;
    }

}