.destaque {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/bannerImage.png);
    background-size: cover;
    
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    padding: 150px 180px 30px;
}


.destaque_titulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin: 0;
}

.destaque_titulo.subtitulo {
    font-size: 22px;
    font-weight: 400;
}

.destaque_botao {
    height: 51px;
    width: 130px;

    background-color: #2A7AE4;
    border-style: none;
    color: #FFFFFF;
    font-size: 16px;
}

.destaque_botao:hover {
    background-color: #5595E9;
    cursor: pointer;
}

/*---------------------Responsivo-------------------*/

@media screen and (max-width: 480px){
    .destaque {
        background: url(../img/banner.jpg);
        background-size: cover;
        padding: 60px 20px 30px 20px;
    }

    
    .destaque_titulo {
        font-size: 30px;
        line-height: 50px;
    }

    .destaque_titulo.subtitulo {
        font-size: 16px;
    }

    .destaque_botao {
        height: 50px;
        width: 115px;
        font-size: 14px;
    }
    
}

